body{
  font-family: Arial;
  background:#080000;
}

.container{
  text-align:center;
  margin-top:40px;
}

form{
  margin:20px;
}

input{
  padding:8px;
  margin:5px;
}

button{
  padding:8px 12px;
  cursor:pointer;
}

.task{
  background:rgb(11, 11, 11);
  padding:15px;
  margin:10px auto;
  width:300px;
  border-radius:8px;
  box-shadow:0px 2px 5px rgba(0,0,0,0.2);
}