body{
  font-family: Arial;
  background:#000; /* fondo negro */
  color:white; /* letras blancas */
}

.container{
  text-align:center;
  margin-top:40px;
}

form{
  margin:20px;
}

input{
  padding:8px;
  margin:5px;
  background:#111; /* fondo oscuro */
  color:white; /* texto blanco */
  border:1px solid #444;
}

button{
  padding:8px 12px;
  cursor:pointer;
  background:white; /* botón blanco */
  color:black; /* texto negro */
  border:none;
  border-radius:4px;
}

.task{
  background:#1a1a1a; /* tarjeta gris oscuro */
  color:white; /* texto blanco */
  padding:15px;
  margin:10px auto;
  width:300px;
  border-radius:8px;
  box-shadow:0px 2px 5px rgba(255,255,255,0.2);
}